body {
    font-family: Arial;
    background: #85aeec;
    padding: 20px;
    text-align: center;
}

.balance-container {
    margin-bottom: 20px;
}

.summary {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.income {
    color: green;
}

.expense {
    color: red;
}

form {
    margin: 20px 0;
}

input, select, button {
    padding: 8px;
    margin: 5px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background: rgb(228, 225, 225);
    padding: 10px;
    margin: 5px auto;
    width: 300px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.charts {
    width: 600px;
    margin: auto;
}
